# Dify API 配置示例
DIFY_BASE_URL=http://127.0.0.1/v1
# 密钥，用于访问 Dify API，多个密钥用逗号分隔
DIFY_API_KEYS=app-xxxxx
# 请求超时时间，超过该时间将返回错误
DIFY_TIMEOUT=60s
# 最大重试次数，超过该次数将返回错误
DIFY_MAX_RETRIES=3
# 服务端口号
SERVER_PORT=3000